#localvideo {
    position: absolute;
    right: 10px;
    top: 10px;
    max-height: 120px;
}

.remote {
    float: left;
    margin: 10px;
    max-width: 320px;
}

.remoteVideos {
    height: 320px;
}
